<div class="row">
  <div class="col-md-6 col-xl-12">
    {{ form_open(isset(user) ? url_to('User::update', user.id) : url_to('User::store'))|raw }}
    <div class="mb-3">
      <label class="form-label">
        {{ form_label('Email', 'email', {'class': 'form-label'})|raw }}
      </label>
      {% if isset(user.email) %}
        <!-- Tampilkan email sebagai teks statis -->
        <span>{{ user.email|e }}</span>
      {% else %}
        <!-- Email editable saat create -->
        {{ form_input({'value': old('email'), 'type': 'email', 'name': 'email', 'class': 'form-control', 'required': true})|raw }}
      {% endif %}
        
    </div>
    <div class="mb-3">
      <label class="form-label">
        {{ form_label('Username', 'username', {'class': 'form-label'})|raw }}
      </label>
      {{ form_input({'value': user.username ?? '', 'type': 'text', 'name': 'username', 'class': 'form-control', 'required': true})|raw }}
    </div>
    <div class="mb-3">
      <label class="form-label">
        {{ form_label('Password', 'password', {'class': 'form-label'})|raw }}
      </label>
      {{ form_input({'type': 'password', 'name': 'password', 'class': 'form-control'})|raw }}
    </div>
    {{ form_submit({'value': 'Simpan', 'class': 'btn btn-primary btn-block'})|raw }}
    {{ form_close()|raw }}
  </div>
</div>